footer {
    display: flex;
    gap: 16px;
}

.left-footer {
    display: flex;
    flex-direction: column;
    gap: 16px;
}

footer img {
    width: 55%;
}

.contacts {
    display: flex;
    flex-direction: column;
    gap: 8px;
}

.contacts div {
    display: flex;
    gap: 8px;
    align-items: center;
}

.footer-icons {
    display: flex;
    gap: 16px;
}

.left-footer svg {
    height: 24px;
}