footer {
    display: flex;
    gap: 16px;
    background-color: navy;
    position: relative;
    justify-content: space-between;
}

.left-footer {
    display: flex;
    flex-direction: column;
    gap: 16px;
    color: white;
}

footer img {
    max-width: 500px;
    box-shadow: 2px 2px 6px 0px rgba(255, 255, 255, .5);
}

.contacts {
    display: flex;
    flex-direction: column;
    gap: 8px;
}

.contacts svg {
    fill: white;
}

.contacts div {
    display: flex;
    gap: 8px;
    align-items: center;
}

.footer-icons {
    display: flex;
    gap: 16px;
}

.left-footer svg {
    height: 32px;
}

.footer-extend-left, .footer-extend-right {
    position: absolute;
    top: 0; 
    z-index: -1;
    background-color: navy;
    height: 100%;
    width: 100vw;
}

.footer-extend-left {
    left: 0;
}

.footer-extend-right {
    right: 0;
}

@media (max-width: 768px) {
    footer {
        gap: 12px;
    }

    .left-footer {
        gap: 12px;
    }

    footer img {
        max-width: 300px;
    }

    .contacts {
        gap: 6px;
    }

    .contacts div {
        gap: 6px;
    }

    .footer-icons {
        gap: 12px;
    }

    .left-footer svg {
        height: 24px;
    }
}

@media (max-width: 425px) {
    footer {
        flex-direction: column;
    }

    footer h2 {
        text-align: center;
        font-size: 32px;
    }

    .footer-icons {
        justify-content: center;
    }

    .left-footer svg {
        height: 36px;
    }

    picture {
        display: flex;
        justify-content: center;
    }

    footer img {
        max-width: 100%;
    }
}