* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

.container {
    margin: 40px;
    display: flex;
    flex-direction: column;
    gap: 40px;
}

header {
    display: flex;
    align-items: center;
}

header img{
    max-height: 415px;
}

.left-header {
    position: relative;
}

.left-header p {
    color: white;
    font-size: 32px;
    position: absolute;
    bottom: 8px;
    width: 100%;
    text-align: center;
}

.right-header > div {
    padding: 16px;
    display: flex;
    flex-direction: column;
    gap: 16px;
    background-color: white;
}

.header-icons {
    display: flex;
    justify-content: right;
    gap: 16px;
}

.header-icons svg {
    height: 24px;
}

header img, .right-header > div {
    box-shadow: 2px 2px 6px 0px rgba(0, 0, 0, 0.25);
}